p {
  color: #b21940;
  font-family: Arial Black
}

h1 {
  color: #45b219;
  font-family: Arial Black
  }

h2 {
    color: #1965b2;
    font-family: Arial Black
    }

h3 {
    color: #b28d19;
    font-family: Arial Black
    }
