* { box-sizing: border-box; }

.caption-top {
    width: 400px;
    margin: 50px auto 0;
    border: 5px solid #e02a2a;
    position: relative;
}

.caption-top img {
    max-width: 100%;
    height: auto;
    display: block;
}

.caption-top h2 {
    margin: 0;
    color: white;
    line-height: 1.1;
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px 20px 10px 10px;
    border-bottom-right-radius: 20px;
    background: #e02a2a;
    position: absolute;
    top: -5px;
    left: 0;
    box-shadow: -3px -1px 3px -3px #e02a2a, 5px 10px 20px -5px hsla(0, 0%, 0%, .4);
}

.date {
    font-family: "Open Sans", sans-serif;
    font-size: .7em;
}
